-- CreateTable
CREATE TABLE "CommentSaved" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "userEmail" TEXT,
    "commentId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CommentSaved_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "CommentSaved_commentId_idx" ON "CommentSaved"("commentId");

-- CreateIndex
CREATE UNIQUE INDEX "CommentSaved_userEmail_commentId_key" ON "CommentSaved"("userEmail", "commentId");

-- AddForeignKey
ALTER TABLE "CommentSaved" ADD CONSTRAINT "CommentSaved_commentId_fkey" FOREIGN KEY ("commentId") REFERENCES "Comment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommentSaved" ADD CONSTRAINT "CommentSaved_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

